.App {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  background-image: url("/img/background.jpg");
  background-size: cover;
  overflow: hidden;
  justify-items: left;

}

.App-text-lower-style {
  margin-top: 10%;
  font-size: 25px;
}

.App-list-general {
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto;
}

.App-text-style {
  margin-left: 200px;
  color: white;
  font-size: 300%;
  font-style: italic;
  position: relative;
  left: 50px;
}

.App-list-container {
  margin-left: 40px;
  margin-top: -100px;
  display: flex;
  align-items: baseline;
  color: white;
  font-size: 25px;
}


.App-three-list {
  position: relative;
  top: 200px;
  width: 1150px;
  height: 750px;
}

.App-other-list {
  width: 300px;
  height: 600px;
}

.App-date-picker {
  margin-left: 400px;
  display: block;
  width: fit-content;
  font-size: 20px;
}

.App-label1 {
  position: relative;
  bottom: 530px;
  right: 10px;
  font-size: 30px;
  display: flex;
  text-align: center;
}

.App-label2 {
  position: relative;
  bottom: 670px;
  left: 65px;
  font-size: 30px;
  display: flex;
  text-align: center;
}

.App-label3 {
  position: relative;
  bottom: 610px;
  left: 140px;
  font-size: 30px;
  display: flex;
  text-align: center;

}

.App-label4 {
  position: relative;
  bottom: 480px;
  left: 65px;
  font-size: 30px;
  display: flex;
  text-align: center;
}

.App-label5 {
  position: relative;
  bottom: 430px;
  right: 30px;
  font-size: 25px;
  display: flex;
  text-align: center;
}

.App-label6 {
  position: relative;
  bottom: 465px;
  left: 170px;
  font-size: 25px;
  display: flex;
  text-align: center;
}

.App-combo-label {
  position: relative;
  bottom: 300px;
  font-size: 25px;
  left: 40px;
  display: flex;
}


.App-general-label1 {
  position: relative;
  bottom: 120px;
  right: 1100px;
  width: 30px;
  text-align: center;
  font-size: 35px;
}

.App-general-label2 {
  position: relative;
  bottom: 180px;
  right: 1030px;
  width: 30px;
  text-align: center;
}

.App-general-label3 {
  position: relative;
  bottom: 30px;
  right: 1060px;
  width: 30px;
  text-align: center;
}

.App-general-label4 {
  position: relative;
  bottom: 110px;
  right: 935px;
  width: 30px;
  text-align: center;
}

.App-general-label5 {
  position: relative;
  bottom: 210px;
  right: 1000px;
  width: 30px;
  text-align: center;
}

.App-general-label6 {
  position: relative;
  bottom: 250px;
  right: 930px;
  width: 30px;
  text-align: center;
}

.App-general-label7 {
  position: relative;
  bottom: 320px;
  right: 1130px;
  width: 30px;
  text-align: center;
}

.App-general-label8 {
  position: relative;
  bottom: 430px;
  right: 1180px;
  width: 30px;
  text-align: center;
  font-size: 35px;
}

.App-general-label9 {
  position: relative;
  bottom: 420px;
  right: 1090px;
  width: 30px;
  text-align: center;
}

.App-general-label10 {
  position: relative;
  bottom: 345px;
  right: 1005px;
  width: 30px;
  text-align: center;
}

.App-general-label11 {
  position: relative;
  bottom: 490px;
  right: 1000px;
  width: 30px;
  text-align: center;
}

.App-general-label12 {
  position: relative;
  bottom: 490px;
  right: 910px;
  width: 30px;
  text-align: center;
}

.App-general-label13 {
  position: relative;
  bottom: 570px;
  right: 1005px;
  width: 30px;
  text-align: center;
  font-size: 35px;
}

.App-general-label14 {
  position: relative;
  bottom: 310px;
  right: 1030px;
  width: 30px;
  text-align: center;
}

.App-general-label15 {
  position: relative;
  bottom: 350px;
  right: 955px;
  width: 30px;
  text-align: center;
}

.App-general-label16 {
  position: relative;
  bottom: 425px;
  right: 870px;
  width: 30px;
  text-align: center;
}

.App-general-label17 {
  position: relative;
  bottom: 430px;
  right: 790px;
  width: 30px;
  text-align: center;
  font-size: 35px;
}

.App-general-label18 {
  position: relative;
  bottom: 330px;
  right: 830px;
  width: 30px;
  text-align: center;
}

.App-general-label19 {
  position: relative;
  bottom: 255px;
  right: 1030px;
  width: 30px;
  text-align: center;
}

.App-general-label20 {
  position: relative;
  bottom: 210px;
  right: 970px;
  width: 30px;
  text-align: center;
}

.App-general-label21 {
  position: relative;
  bottom: 110px;
  right: 1030px;
  width: 30px;
  text-align: center;
}

.App-general-label22 {
  position: relative;
  bottom: 180px;
  right: 900px;
  width: 30px;
  text-align: center;
}

.App-general-label23 {
  position: relative;
  bottom: 120px;
  right: 840px;
  width: 30px;
  text-align: center;
  font-size: 35px;
}

.App-general-label24 {
  position: relative;
  bottom: 30px;
  right: 960px;
  width: 30px;
  text-align: center;
}

.App-general-label25 {
  position: relative;
  top: 50px;
  right: 1350px;
  width: 30px;
  text-align: center;
}

.App-general-combo-label {
  width: 200px;
  text-align: center;
  position: relative;
  bottom: 40px;
  right: 1480px;
  font-size: 35px;
}

@media screen and (max-width : 768px) {
  .App-text-style {
    left: -50px;
    font-size: 20px;
  }
  .App {
    font-size: 7px;
    justify-items: normal;
  }
  .App-list-container {
    margin-left: -15px;
    font-size: 13px;
  }
  .App-date-picker {
    margin-left: 3%;
  }

  .App-three-list {
    width: 350px;
    height: 250px;
    top: 260px;
    left: 0;
  }

  .App-general-label1 {
    top: 160px;
    right: 365px;
    font-size: 18px;
  }

  .App-general-label2 {
    top: 130px;
    right: 360px;
  }

  .App-general-label3 {
    top: 185px;
    right: 390px;
  }

  .App-general-label4 {
    top: 155px;
    right: 360px;
  }

  .App-general-label5 {
    top: 125px;
    right: 410px;
  }

  .App-general-label6 {
    top: 115px;
    right: 405px;
  }

  .App-general-label7 {
    top: 90px;
    right: 490px;
  }

  .App-general-label8 {
    top: 50px;
    right: 525px;
    font-size: 18px;
  }

  .App-general-label9 {
    top: 55px;
    right: 515px;
  }

  .App-general-label10 {
    top: 75px;
    right: 510px;
  }

  .App-general-label11 {
    top: 35px;
    right: 530px;
  }

  .App-general-label12 {
    top: 35px;
    right: 513px;
  }

  .App-general-label13 {
    bottom: 0;
    right: 565px;
    font-size: 18px;
  }

  .App-general-label14 {
    top: 95px;
    right: 595px;
  }

  .App-general-label15 {
    top: 75px;
    right: 592px;
  }

  .App-general-label16 {
    top: 55px;
    right: 585px;
  }

  .App-general-label17 {
    top: 50px;
    right: 575px;
    font-size: 18px;
  }

  .App-general-label18 {
    top: 85px;
    right: 610px;
  }

  .App-general-label19 {
    top: 110px;
    right: 700px;
  }

  .App-general-label20 {
    top: 125px;
    right: 693px;
  }

  .App-general-label21 {
    top: 155px;
    right: 740px;
  }

  .App-general-label22 {
    top: 130px;
    right: 710px;
  }

  .App-general-label23 {
    top: 160px;
    right: 712px;
    font-size: 18px;
  }

  .App-general-label24 {
    top: 185px;
    right: 770px;
  }

  .App-general-label25 {
    top: 215px;
    right: 925px;
  }

  .App-general-combo-label {
    top: 185px;
    right: 1040px;
    font-size: 14px;
  }

  .App-other-list {
    width: 120px;
    height: 250px;
  }
  .App-label1 {
    bottom: 220px;
    right: 15px;
    font-size: 20px;
  }

  .App-label2 {
    bottom: 300px;
    left: 25px;
    font-size: 20px;
  }

  .App-label3 {
    bottom: 270px;
    left: 57px;
    font-size: 20px;
  }

  .App-label4 {
    bottom: 235px;
    left: 20px;
    font-size: 20px;
  }

  .App-label5 {
    bottom: 245px;
    right: 17px;
    font-size: 15px;
  }

  .App-label6 {
    bottom: 265px;
    left: 65px;
    font-size: 15px;
  }

  .App-combo-label {
    bottom: 180px;
    font-size: 15px;
    left: 5px;
  }

  .App-list-general {
    grid-template-columns: 8% 20%;
  }

  .App-text-lower-style {
    font-size: 12px;
  }
  .App-list-line {
    right: 380px;
    top: 418px;

    width: 162px;
    height: 500px;
  }
}


@media screen and (max-width : 1440px) {
  .App {
    font-size: 7px;
    justify-items: normal;
  }
  .App-text-style {
    margin-left: 90px;
  }
  .App-list-general {
    grid-template-columns: 8% 20%;
  }
  .App-list-container {
    margin-left: 50px;
  }
}

@media screen and (min-width : 375px) and (max-width : 390px) {
  .App-list-container {
    margin-left: 20px;
  }
}

@media screen and (min-width : 390px) and (max-width : 414px) {
  .App-list-container {
    margin-left: 30px;
  }
}

@media screen and (min-width : 414px) and (max-width : 430px) {
  .App-list-container {
    margin-left: 45px;
  }
}
