.App {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  background-image: url("/img/background.png");
  background-size: cover;
  overflow: hidden;
  justify-items: left;

}

.App-list-general {
  margin-top: 10%;
}

.App-text-style {
  margin-left: 200px;
  color: white;
  font-size: 300%;
  font-style: italic;
  margin-top: 10%;
  position: relative;
  left: 50px;
}

.App-list-container {
  margin-left: 40px;
  margin-top: 50px;
  display: flex;
  align-items: baseline;
  color: white;
  font-size: 25px;
}

.App-one-list {
  rotate: 270deg;
  position: relative;
  left: 140px;
  top: 95px;
  width: 300px;
  height: 600px;
}


.App-two-list {
  rotate: 315deg;
  position: relative;
  left: -60px;
  top: -5px;
  width: 300px;
  height: 600px;
}

.App-three-list {
  position: relative;
  left: -219px;
  top: -5px;
  width: 300px;
  height: 600px;
}

.App-four-list {
  rotate: 45deg;
  position: relative;
  left: -419px;
  top: 95px;
  width: 300px;
  height: 600px;
}


.App-five-list {
  rotate: 90deg;
  position: relative;
  left: -719px;
  top: 236px;
  width: 300px;
  height: 600px;
}

.App-other-list {
  width: 300px;
  height: 600px;
}

.App-date-picker {
  margin-left: 400px;
  display: block;
  width: fit-content;
  font-size: 20px;
}

.App-label1 {
  position: relative;
  bottom: 520px;
  right: 10px;
  font-size: 25px;
  display: flex;
}

.App-label2 {
  position: relative;
  bottom: 660px;
  left: 65px;
  font-size: 25px;
  display: flex;
}

.App-label3 {
  position: relative;
  bottom: 590px;
  left: 140px;
  font-size: 25px;
  display: flex;

}

.App-label4 {
  position: relative;
  bottom: 450px;
  left: 65px;
  font-size: 25px;
  display: flex;
}

.App-label5 {
  position: relative;
  bottom: 430px;
  right: 30px;
  font-size: 25px;
  display: flex;
}

.App-label6 {
  position: relative;
  bottom: 465px;
  left: 170px;
  font-size: 25px;
  display: flex;
}

.App-combo-label {
  position: relative;
  bottom: 300px;
  font-size: 25px;
  left: 40px;
  display: flex;
}


.App-general-label1 {
  position: relative;
  bottom: 150px;
  right: 1500px;
  width: 30px;
  text-align: center;
}

.App-general-label2 {
  position: relative;
  bottom: 200px;
  right: 1450px;
  width: 30px;
  text-align: center;
}

.App-general-label3 {
  position: relative;
  bottom: 50px;
  right: 1480px;
  width: 30px;
  text-align: center;
}

.App-general-label4 {
  position: relative;
  bottom: 150px;
  right: 1370px;
  width: 30px;
  text-align: center;
}

.App-general-label5 {
  position: relative;
  bottom: 220px;
  right: 1340px;
  width: 30px;
  text-align: center;
}

.App-general-label6 {
  position: relative;
  bottom: 280px;
  right: 1360px;
  width: 30px;
  text-align: center;
}

.App-general-label7 {
  position: relative;
  bottom: 340px;
  right: 1560px;
  width: 30px;
  text-align: center;
}

.App-general-label8 {
  position: relative;
  bottom: 450px;
  right: 1600px;
  width: 30px;
  text-align: center;
}

.App-general-label9 {
  position: relative;
  bottom: 440px;
  right: 1500px;
  width: 30px;
  text-align: center;
}

.App-general-label10 {
  position: relative;
  bottom: 310px;
  right: 1370px;
  width: 30px;
  text-align: center;
}

.App-general-label11 {
  position: relative;
  bottom: 500px;
  right: 1430px;
  width: 30px;
  text-align: center;
}

.App-general-label12 {
  position: relative;
  bottom: 500px;
  right: 1315px;
  width: 30px;
  text-align: center;
}

.App-general-label13 {
  position: relative;
  bottom: 585px;
  right: 1415px;
  width: 30px;
  text-align: center;
}

.App-general-label14 {
  position: relative;
  bottom: 340px;
  right: 1450px;
  width: 30px;
  text-align: center;
}

.App-general-label15 {
  position: relative;
  bottom: 290px;
  right: 1380px;
  width: 30px;
  text-align: center;
}

.App-general-label16 {
  position: relative;
  bottom: 440px;
  right: 1300px;
  width: 30px;
  text-align: center;
}

.App-general-label17 {
  position: relative;
  bottom: 460px;
  right: 1220px;
  width: 30px;
  text-align: center;
}

.App-general-label18 {
  position: relative;
  bottom: 350px;
  right: 1250px;
  width: 30px;
  text-align: center;
}

.App-general-label19 {
  position: relative;
  bottom: 275px;
  right: 1450px;
  width: 30px;
  text-align: center;
}

.App-general-label20 {
  position: relative;
  bottom: 170px;
  right: 1440px;
  width: 30px;
  text-align: center;
}

.App-general-label21 {
  position: relative;
  bottom: 125px;
  right: 1440px;
  width: 30px;
  text-align: center;
}

.App-general-label22 {
  position: relative;
  bottom: 200px;
  right: 1300px;
  width: 30px;
  text-align: center;
}

.App-general-label23 {
  position: relative;
  bottom: 150px;
  right: 1260px;
  width: 30px;
  text-align: center;
}

.App-general-label24 {
  position: relative;
  bottom: 55px;
  right: 1360px;
  width: 30px;
  text-align: center;
}

.App-general-label25 {
  position: relative;
  top: 20px;
  right: 1780px;
  width: 30px;
  text-align: center;
}

.App-general-combo-label {
  width: 200px;
  text-align: center;
  position: relative;
  bottom: 70px;
  right: 1890px;
}

@media screen and (max-width : 768px) {
  .App-text-style {
    left: -50px;
  }
  .App {
    font-size: 7px;
    justify-items: normal;
  }
  .App-list-container {
    margin-left: -5px;
  }
  .App-date-picker {
    margin-left: 5%;
  }
  .App-one-list {
    width: 125px;
    height: 250px;
    top: 100px;
    left: 70px;
  }
  .App-two-list {
    width: 125px;
    height: 250px;
    top: 58px;
    left: -13px;
  }
  .App-three-list {
    width: 125px;
    height: 250px;
    top: 58px;
    left: -79px;
  }
  .App-four-list {
    width: 125px;
    height: 250px;
    top: 100px;
    left: -162px;
  }
  .App-five-list {
    width: 125px;
    height: 250px;
    top: 159px;
    left: -287px;
  }
  .App-list-container {
    font-size: 15px;
  }
  .App-general-label1 {
    bottom: 10px;
    right: 620px;
  }

  .App-general-label2 {
    bottom: 25px;
    right: 615px;
  }

  .App-general-label3 {
    top: 40px;
    right: 650px;
  }

  .App-general-label4 {
    top: 5px;
    right: 615px;
  }

  .App-general-label5 {
    bottom: 35px;
    right: 630px;
  }

  .App-general-label6 {
    bottom: 65px;
    right: 645px;
  }

  .App-general-label7 {
    bottom: 85px;
    right: 755px;
  }

  .App-general-label8 {
    bottom: 130px;
    right: 785px;
  }

  .App-general-label9 {
    bottom: 125px;
    right: 765px;
  }

  .App-general-label10 {
    bottom: 60px;
    right: 720px;
  }

  .App-general-label11 {
    bottom: 150px;
    right: 770px;
  }

  .App-general-label12 {
    bottom: 150px;
    right: 735px;
  }

  .App-general-label13 {
    bottom: 190px;
    right: 800px;
  }

  .App-general-label14 {
    bottom: 80px;
    right: 815px;
  }

  .App-general-label15 {
    bottom: 50px;
    right: 820px;
  }

  .App-general-label16 {
    bottom: 130px;
    right: 800px;
  }

  .App-general-label17 {
    bottom: 130px;
    right: 780px;
  }

  .App-general-label18 {
    bottom: 75px;
    right: 810px;
  }

  .App-general-label19 {
    bottom: 45px;
    right: 910px;
  }

  .App-general-label20 {
    bottom: 10px;
    right: 935px;
  }

  .App-general-label21 {
    top: 20px;
    right: 945px;
  }

  .App-general-label22 {
    bottom: 25px;
    right: 915px;
  }

  .App-general-label23 {
    bottom: 10px;
    right: 915px;
  }

  .App-general-label24 {
    top: 40px;
    right: 970px;
  }

  .App-general-label25 {
    top: 80px;
    right: 1160px;
  }

  .App-general-combo-label {
    top: 40px;
    right: 1270px;
  }
}


@media screen and (max-width : 1440px) {
  .App {
    font-size: 7px;
    justify-items: normal;
  }
  .App-text-style {
    margin-left: 100px;
  }
}